rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
   
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    
    match /musics/{sheetId} {
      allow read: if true;
      allow create: if request.resource.data.userId == request.auth.uid;
			allow update, delete: if resource.data.userId == request.auth.uid;
    }
    match /sheets-dev/{sheetId} {
      allow read: if true;
      allow create: if request.resource.data.userId == request.auth.uid;
			allow update, delete: if resource.data.userId == request.auth.uid;
    }
    
    match /instruments/{instrument} {
      allow read: if true;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}