.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 4px;
}

.title {
  margin: 0;
}

.textarea {
  font-family: inherit;
  padding: 4px 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}
